.Rproj.user
.Rhistory
.RData
.Ruserdata
DCATS.Rproj
.renviron
.rprofile
.rproj
.rproj.user
.rapp.history
.o
.sl
.so
.dylib
.a
.dll
.def
.ds_store
unsrturl.bst
.log
.aux
.backupsq
.cproject
.directory
.dropbox
.exrc
.gdb.history
.gitattributes
.gitmodules
.hgtags
.project
.seed
.settings
.tm_properties
